*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; /* Ajuste a altura conforme necessário */
    background-color: brown;
    color: white;
    gap: 15px;
    font-size: 80%;
}

header h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Ajuste a altura conforme necessário */
}

form h3, form input, form select{
    width: 35%; /* Ajuste a largura conforme necessário */
    text-align: left;
    margin-bottom: 8px;
}

form input, form select{
    margin-bottom: 20px;
    border-radius: 5px;
    border: solid 0.5px;
    height: 35px;
}

main button{
    margin-left: -28.6%;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: white;
}

.filtro-posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Altura total da viewport */
    width: 20%; /* Ajuste este valor para o comprimento desejado */
    height: 30%;
    margin: 0 auto; /* Centraliza a div se a largura for menor que 100% */
}

.filtro-posts select{
    border: solid 0.5px;
    border-radius: 5px;
    margin-top: 8px;
    height: 40px;
    width: 120px;
    background-color: white;
    text-align: center;
    font-size: 17px;
}

.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.post{
    text-align: center;
    font-size: 20px;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid black; /* Ajuste a cor e a espessura da linha conforme necessário */
    width: 20%; /* Ajuste este valor para o comprimento desejado */
    margin: 0 auto; /* Centraliza a div se a largura for menor que 100% */
    margin-bottom: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: brown;
    height: 80px;
    margin-top: 10px;
}
footer a{
    text-decoration: none;
    color: orange;
}
.footer-links{
    display: flex;
    gap: 5px;
}

body {
    font-family: Arial, sans-serif;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel img {
    width: 100%;
    border-radius: 8px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 1px;
    border-radius: 15%;
}

.carousel-control.prev {
    left: 29%;
    width: 40px;
}

.carousel-control.next {
    right: 0.5%;
    width: 40px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

