*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; /* Ajuste a altura conforme necessário */
    background-color: brown;
    color: white;
    gap: 15px;
    font-size: 80%;
}

header h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Ajuste a altura conforme necessário */
}

form h3, form input, form select{
    width: 35%; /* Ajuste a largura conforme necessário */
    text-align: left;
    margin-bottom: 8px;
}

form input, form select{
    margin-bottom: 20px;
    border-radius: 5px;
    border: solid 0.5px;
    height: 35px;
}

main button{
    margin-left: -28.6%;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: white;
}

.filtro-posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Altura total da viewport */
}
.filtro-posts select{
    border: solid 0.5px;
    border-radius: 5px;
    margin-top: 8px;
    height: 40px;
    width: 120px;
    background-color: white;
    text-align: center;
    font-size: 16px;
}